{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_datacurso/add_activity_ai_next_actions

    TODO describe template add_activity_ai_next_actions

    Example context (json):
    {
    }
}}
<div class="bdai-msg ai bdai-next-actions">
  <div class="bubble">
    <div class="bdai-next-text" style="margin-bottom:.5rem;">{{#str}} addactivityai_next_text, local_datacurso {{/str}}</div>
    <div class="bdai-next-buttons" style="display:flex;gap:.5rem;">
      <button type="button" class="btn btn-primary btn-sm" data-action="bdai-create-another">{{#str}} addactivityai_next_yes, local_datacurso {{/str}}</button>
      <button type="button" class="btn btn-secondary btn-sm" data-action="bdai-finish">{{#str}} addactivityai_next_no, local_datacurso {{/str}}</button>
    </div>
  </div>
</div>